# BASIC PYTHON DATA MANIPULATION

###  ------------------------------------------------------------------------------------------------------------------------------------------------------------------

## String Indexing

#### Q1. How to access first character of a given string?

In [141]:
given_string = "John"
print("First character of the given string is: ", given_string[0])

First character of the given string is:  J

#### Q2. How to access a character at user expected index from user given string?

In [144]:
user_string = input("Enter a string: ")
index = int(input("Enter the index to check character at: "))
character = user_string[index]
print("Character at the expected index is: ", character)

Enter a string: Samantha
Enter the index to check character at: 5
Character at the expected index is:  t

#### Q3. How to access specific set of characters from a given string?

In [150]:
given_string = "John Doe"
print("Set of characters from the given string is: ", given_string[0:4])

Set of characters from the given string is:  John

#### Q4. How to reverse a given string?

In [148]:
given_string = "John Doe"
print("Set of characters from the given string is: ", given_string[-1:-9:-1])

Set of characters from the given string is:  eoD nhoJ

#### Q5. How to check if a specific character exists in a given string?

In [151]:
given_string = "John Doe"
character = "n"
for i in range(len(given_string)):
    if character == given_string[i]:
        print("character", character, "- exists in the given string:", given_string)
        break

character n - exists in the given string: John Doe

###  ------------------------------------------------------------------------------------------------------------------------------------------------------------------

## List Operations

#### Q6. How to add multiple elements to the end of a given list?

In [28]:
given_list = [1,2,3,4,5]
given_list.extend([6,7,8])
print("The new list with added elements is: ", given_list)

The new list with added elements is:  [1, 2, 3, 4, 5, 6, 7, 8]

#### Q7. How to reverse the order of elements in a given list?

In [24]:
given_list = [1,2,3,4,5]
given_list.reverse()
print("The reversed list is: ", given_list)

The reversed list is:  [5, 4, 3, 2, 1]

#### Q8. How to remove last element from a given list?

In [154]:
given_list = [1,2,3,4,5]
given_list.pop()
print(given_list)

[1, 2, 3, 4]

#### Q9. How to count number of female and male entries in the given gender list?

In [152]:
gender = ['Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male','Female','Female','Male','F',
          'M','female','male','Female','Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male',
          'Female','Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male','Female','Female',
          'Male','F','M','female','male','Female','Female','Male','F','M','female','male','Female','Female','Male','F','M',
          'female','male','Female','Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male',
          'Female','Female','Male','F','M','female','male','Female','Female','Male','F','M','female','male','Female','Female',
          'Male','F','M','female','male','Female']

cf = 0
cm = 0
for i in gender:
    if i.startswith('F') or i.startswith('f'):
        cf = cf + 1
    else:
        cm = cm + 1
        
print("Total number of females are: ",cf)
print("Total number of males are: ",cm)

Total number of females are:  60
Total number of males are:  45

#### Q10. How to remove duplicates from a given string?

In [33]:
given_string = "Conference"
result = []
final = ''
for i in given_string:
    if i not in result:
        result.append(i.lower())
        
print(result)
final.join(result)

['c', 'o', 'n', 'f', 'e', 'r']

'confer'

### ------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Lambda Functions

#### Q11. How to multiply each value of the given list by 20?

In [43]:
given_list = [10,20,30,40,50]
list(map(lambda i:i*20,given_list))

[200, 400, 600, 800, 1000]

#### Q12. How to get the floor value of each of the value in the given list?

In [49]:
import math

given_list = [23.456,34.987,60.2826,27.2727,14.3898,9.2272,15.878937] 
floor_values = list(map(lambda x: math.floor(x), given_list))
floor_values

[23, 34, 60, 27, 14, 9, 15]

#### Q13. How to get even values which are greater than 50 from the given list using lambda function?

In [44]:
given_list = [12,35,66,9,96,25,39,33,45,48,60,72,77,84,91,3,21]
list(filter(lambda l:l%2==0 and l>50,given_list))

[66, 96, 60, 72, 84]

#### Q14. How to display the names whose length is greater than 5 from the given list using lambda?

In [50]:
given_list = ['Orange','Kiwi','Apple','Strawberry','Grapes','Mango']
list(filter(lambda i: len(i)>5,given_list))

['Orange', 'Strawberry', 'Grapes']

#### Q15. How to convert strings in the given list to uppercase?

In [52]:
given_list = ['hello', 'good', 'morning', 'everyone']
list(map(lambda x: x.upper(), given_list))

['HELLO', 'GOOD', 'MORNING', 'EVERYONE']

### ------------------------------------------------------------------------------------------------------------------------------------------------------------------

## List Comprehension

#### Q16. If the length of name is odd,then store the names in Uppercase and if the length of name is even, then store the names in Lowercase

In [54]:
given_list = ['Orange','Kiwi','Apple','Strawberry','Grapes','Mango']
n = [name.upper() if len(name) %2!=0 else name.lower() for name in given_list]
print(n)

['orange', 'kiwi', 'APPLE', 'strawberry', 'grapes', 'MANGO']

#### Q17. Generate squares of numbers from 1 to 10

In [55]:
squares = [num ** 2 for num in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Q18. How to get a new list containing the lengths of each string in the given list?

In [56]:
given_list = ['hello', 'good', 'morning', 'everyone']
new_list = [len(string) for string in given_list]
print(new_list)

[5, 4, 7, 8]

#### Q19. How to get a new list containing only the positive numbers from the given list?

In [58]:
given_list = [-3, -2, 5, -4, -6, -1, 10, -8, 2, 4, 9, -7, 1, 0]
positive_numbers_list = [num for num in given_list if num > 0]
print(positive_numbers_list)

[5, 10, 2, 4, 9, 1]

#### Q20. How to get a new list with only the unique elements from the given list?

In [60]:
given_list = [1, 2, 2, 3, 3, 4, 5, 5]
unique_numbers_list = list(set(given_list))
print(unique_numbers_list)

[1, 2, 3, 4, 5]

### ------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Dictionaries

#### Q21. How to access the value at age in the given persons information dictionary?

In [62]:
person_info = {'name': 'John', 'age': 32, 'gender': 'Male'}
age = person_info['age']
print(age)

32

#### Q22. How to add a new city and its population to the existing dictionary?

In [71]:
city_population = {'New York': 8537673, 'Los Angeles': 3979576, 'Chicago': 2705994}
city_population['Houston'] = 2320268
print(city_population)

{'New York': 8537673, 'Los Angeles': 3979576, 'Chicago': 2705994, 'Houston': 2320268}

#### Q23. How to remove a city from the dictionary?

In [72]:
city_population = {'New York': 8537673, 'Los Angeles': 3979576, 'Chicago': 2705994}
del city_population['Chicago']
print(city_population)

{'New York': 8537673, 'Los Angeles': 3979576}

#### Q24. How to check if a key exists in a dictionary?

In [70]:
fruit_counts = {'apple': 10, 'banana': 5, 'orange': 8}
if 'banana' in fruit_counts:
    print("Banana is present in the dictionary.")
else:
    print("Banana is not present in the dictionary.")

Banana is present in the dictionary.

#### Q25. How to convert 1 dictionary into 2 lists?

In [66]:
emp_info = {'A': 34000, 'B': 28000, 'C': 25000, 'D': 35000, 'E': 33000}
employee = list(emp_info.keys())
salaries = list(emp_info.values())
print(employee)
print(salaries)

['A', 'B', 'C', 'D', 'E']
[34000, 28000, 25000, 35000, 33000]

### ------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Built-in Functions ( len, max, sum, sorted, abs )

#### Q26. How to get the length of a given string?

In [73]:
given_string = "Good morning"
print(len(given_string))

12

#### Q27. How to get the maximum value in a list of numbers?

In [76]:
numbers_list = [10, 5, 8, 20, 15, 2, 32, 9, 45, 1]
print(max(numbers_list))

45

#### Q28. How to get the sum all elements in a list of numbers?

In [78]:
numbers_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(sum(numbers_list))

55

#### Q29. How to sort a given list of strings in alphabetical order?

In [79]:
fruits = ["orange", "apple", "strawberry", "banana", "grapes"]
sorted_words = sorted(fruits)
print(sorted_words)

['apple', 'banana', 'grapes', 'orange', 'strawberry']

#### Q30. What is the absolute value of a negative number?

In [80]:
num = -20
print(abs(num))

20

### ------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Looping

#### Q31. Print the numbers in given list using for loop

In [86]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)

1
2
3
4
5

#### Q32. Print numbers 0-5 but break at 3

In [88]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

#### Q33. Print 0-5 numbers using while loop

In [89]:
i = 0
while i <= 5:
    print(i)
    i += 1

0
1
2
3
4
5

#### Q34. Floyd's triangle using for loop

In [82]:
num = 1
for i in range(0,5):
    for j in range(1, i+1):
        print(num,end = ' ')
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10

#### Q35. Factorial using while loop

In [93]:
num = 4
factorial = 1
while num > 0:
    factorial *= num
    num -= 1
print("Factorial is:", factorial)

Factorial is: 24

### ------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Inheritance

#### Q36.  Give example of Single inheritance

In [94]:
class Car:
    color = 'Black'
    head = 'LED'
    def display_features(self):
        print(f"{self.color} car with {self.head} headlights.")
        
class Kia(Car):
    def kia_features(self):
        print("Kia has advanced features.")
        
obj1 = Kia()
obj1.display_features()

Black car with LED headlights.

#### Q37.  Give example of Multilevel Inheritance

In [95]:
class Country:
    def task1(self):
        return "India"

class State(Country):
    def task2(self):
        return "Uttar Pradesh"
    
class City(State):
    def task3(self):
        return "Noida"
    
s1 = City()
s1.task1()

'India'

#### Q38. Give example of Multiple Inheritance

In [96]:
class OBC:
    def branch(self):
        print("Patel Nagar Branch")

class Unity_Bank:
    def branch(self):
        print("Nehru Nagar Branch")
        
class PNB(OBC,Unity_Bank):
    def branch(self):
        print("Merger of OBC and Unity bank.")
        
ol = PNB()
ol.branch()

Merger of OBC and Unity bank.

#### Q39. Give example of Hybrid Inheritance

In [106]:
class Vehicle:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
    def display_info(self):
        print(f"Make: {self.make}, Model: {self.model}, Year: {self.year}")

class ElectricVehicle:
    def __init__(self, battery_capacity):
        self.battery_capacity = battery_capacity
    def display_battery_info(self):
        print(f"Battery Capacity: {self.battery_capacity}")
        
class Car(Vehicle):
    def __init__(self, make, model, year, fuel_type):
        super().__init__(make, model, year)
        self.fuel_type = fuel_type
    def display_car_info(self):
        print(f"Make: {self.make}, Model: {self.model}, Year: {self.year}, Fuel Type: {self.fuel_type}")

class Bike(Vehicle):
    def __init__(self, make, model, year, engine_type):
        super().__init__(make, model, year)
        self.engine_type = engine_type
    def display_bike_info(self):
        print(f"Make: {self.make}, Model: {self.model}, Year: {self.year}, Engine type: {self.engine_type}")

class ElectricCar(Car, ElectricVehicle):
    def __init__(self, make, model, year, fuel_type, battery_capacity):
        Car.__init__(self, make, model, year, fuel_type)
        ElectricVehicle.__init__(self, battery_capacity)
    def display_elec_car_info(self):
        print(f"Make: {self.make}, Model: {self.model}, Year: {self.year}, Fuel Type: {self.fuel_type}, Battery capacity: {self.battery_capacity}")

class SportsBike(Bike):
    def __init__(self, make, model, year, engine_type, max_speed):
        super().__init__(make, model, year, engine_type)
        self.max_speed = max_speed
    def display_sp_bike_info(self):
        print(f"Make: {self.make}, Model: {self.model}, Year: {self.year}, Engine type: {self.engine_type}, Maximum speed: {self.max_speed}")
        
        
#car = Car("Toyota", "Camry", 2020, "Gasoline")
#car.display_car_info()

bike = SportsBike("Ducati", "Panigale V4", 2023, "Testastretta", 200)
bike.display_bike_info()

Make: Ducati, Model: Panigale V4, Year: 2023, Engine type: Testastretta

### ------------------------------------------------------------------------------------------------------------------------------------------------------------------

## UDF: Arguments and Parameters

#### Q40. Give example of Positional arguments

In [110]:
def avg_n(*args):
    return int(sum(args)/len(args))

avg_n(21, 26, 31, 101, 106, 121, 126, 146, 151, 156, 196, 201, 231)

124

#### Q41. Give example of Keyword arguments

In [153]:
def avg_kn(**kwargs):  #kwargs
    sum_z = sum(kwargs.values())
    avg = sum_z/len(kwargs)
    return avg

avg_kn(a = 10,b = 20,c = 30)

20.0

#### Q42. Print student info with arguments

In [113]:
name = input("Enter the name")
subject = input("Enter the subject")
age = int(input('Enter the age'))
marks = int(input("Enter the marks"))
def stu_info(n,s,a,m):
    print("The name of the student is {} and his/her favourite subject is {}. His age is {} and he got {} marks in his/her favourite subject".format(name,subject,age,marks))
    
stu_info(name,subject,age,marks)

Enter the nameJohn
Enter the subjectScience
Enter the age15
Enter the marks78
The name of the student is John and his/her favourite subject is Science. His age is 15 and he got 78 marks in his/her favourite subject

### ------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Patterns / Logical questions

#### Q43. How to create a half pyramid pattern?

In [121]:
num = 5
for i in range(0, num):
    for j in range(0, i + 1):
        print("*", end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

#### Q44. How to create a reverse half pyramid pattern?

In [126]:
num = 5
for i in range(0, num):
    for j in range(0, num - i - 1):
        print(end=" ")
    for j in range(0, i + 1):
        print("*", end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

#### Q45. How to create a diamond pattern?

In [122]:
num = 5
for i in range(0, num):
    for j in range(0, num - i - 1):
        print(end=" ")
    for j in range(0, i + 1):
        print("*", end=" ")
    print()
for i in range(num, 0, -1):
    for j in range(0, num - i + 1):
        print(end=" ")
    for j in range(0, i - 1):
        print("*", end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

#### Q46. Check whether input number is prime number or not

In [127]:
a = int(input("Enter a number to check if it is prime or not: "))
factors = 0
for i in range(1,a+1):
    if a%i == 0:
        factors = factors + 1  
if factors == 2:
    print(a,"is a prime number")
else:
    print(a,"is not a prime number")

Enter a number to check if it is prime or not: 34
34 is not a prime number

#### Q47. Check how many prime and composite numbers are there from 1 to 100

In [128]:
count_prime = 0
count_composite = 0

for i in range(2,101):
    factors = 0
    
    for j in range(1,i+1):
        if i%j == 0:
            factors = factors + 1
            
    if factors == 2:
        count_prime = count_prime + 1
    else:
        count_composite = count_composite + 1
        
print("There are", count_prime, "prime numbers and", count_composite, "composite numbers from 1 to 100")

There are 25 prime numbers and 74 composite numbers from 1 to 100

#### Q48. Check if the given string is palindrome or not

In [132]:
g = 'nitin'
h = len(g)-1

i = 0
for i in range(0,h):
    if g[i] != g[h-i]:
        print("It is not a palindrome")
        break
else:
    print("It is a palindrome")

It is a palindrome

#### Q49. Take user input name and check if it is present in the given list

In [140]:
names = ['John', 'Disha', 'Sam', 'Gaju', 'Parth', 'Tom', 'Alice']

name = input("Enter a name: ")

if name in names:
    print("Name is present in the list.")
else:
    print("Name is not present in the list.")

Enter a name: Pam
Name is not present in the list.

#### Q50. Create a UDF to get a password from the user.That password should contain: one special character, one alphabet upper case, one alphabet lower case, one digit. The length of the password should not be more than 4.

In [135]:
password = input("Enter any password: ")

def my_password(p):
    if len(p) > 4 or len(p) < 4:
        return False
    
    lowercase = any(i.islower() for i in p)
    uppercase = any(i.isupper() for i in p)
    digit = any(i.isdigit() for i in p)
    special = any(i in '!@#$%&*' for i in p)
    return lowercase and digit and uppercase and special

if my_password(password):
    print("Password matched...Welcome!!!")
else:
    print("Password does not match.")

Enter any password: rA$2
Password matched...Welcome!!!

### ------------------------------------------------------------------------------------------------------------------------------------------------------------------